
.corpo{
    
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 1050px; 
    margin-left: 2px;   
}

.topo{
    background-color: #CF2B2B;
    color: #FFFFFF;
    
    height: 92px;
    width: 100%;
    padding-top: 8px;
    padding-left: 21px;
    position: fixed;
    z-index: 1;
    
}

.driveneats{
    font-size: 44px;
}

.subtitulo > p{
    font-size: 18px;
    color: #FFFFFF;
}

h1{
    font-size: 44px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

h2{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 2px;

}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700,bold;
    font-style: bold;
    color: #333333;
    
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300,lighter;
    color: #A6A6A6;

}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

}

img{
    margin: 5px 2px;
}

.meio{
    margin-top: 91px;
    padding-top: 31px;
    padding-bottom: 16px;
    background-color: #E5E5E5;
    margin-bottom: 100px;

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;

}

.primeiroscroll{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    overflow-x: scroll;   
    margin-left: 5px;
       
    
}

.segundoscroll{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    overflow-x: scroll; 
    margin-left: 5px;
}

.terceiroscroll{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    overflow-x: scroll; 
    margin-left: 5px;
}

.caixadeprato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0px 10px;
}

.baixo{
    background-color: #FFFFFF;
    position: fixed;
    top: 520px;
    height: 92px;
    width: 100%;
    margin-top: 400px;
    
       

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.bottom {
    width: 100%;
    background-color: white;
    height: 92px;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botao-itens {
    width: 80%;
    height: 61px;
    border-radius: 50px;
    background-color: #cbcbcb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }

  .botao-fechar {
    width: 80%;
    height: 61px;
    border-radius: 50px;
    background-color: #32b72f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .esconder-botao {
    display: none;
  }


.item {
    background-color: white;
    padding: 10px;
    height: 216px;
    width: 172px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    border-radius: 9px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .item img {
    width: 159px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
  }

.pratoSelecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
      border-radius: 10px;
  }

  .bebidaSelecionada {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
  }
  
  .sobremesaSelecionada {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
  }


